<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witaj imperatorze!</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="script.js" defer></script>
</head>
<body>
<h1>Witaj imperatorze kosmiczny!</h1>
<h2>Co chcesz zrobić?</h2>
<h3 th:text="${message}"></h3>
<ul>
    <li><a href="/register">Zarejestruj się w grze</a></li>
    <li><a href="/login">Zaloguj się</a></li>
    <li><a href="/add-planet">Dodaj planetę</a></li>
    <li><a href="/add port">Dodaj port kosmiczny</a></li>
    <br>
    <li><a href="/console">Debug: Konsola bazy danych</a></li>
    <li>Przeglądaj planety</li>
</ul>
</body>
</html>