<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kreator planet</title>
</head>
<body>
<h1>Dodaj planetę do swojego układu słonecznego</h1>
<form action="/add-planet" method="post">
    <label>Nazwa planety:</label>
    <input type="text" name="name">
    <br>
    <label>Rodzaj planety</label>
    <label>Skalista</label>
    <input type="radio" name="planet_type" value="ROCK">
    <label>Gazowa</label>
    <input type="radio" name="planet_type" value="GAS">
    <br>
    <label>Wielkość:</label>
    <input type="number" name="size">
    <br>
    <button type="submit">Dodaj planetę</button>

</form>
</body>
</html>