<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
<h1>Witaj nowy imperatorze</h1>
<form action="/create-imperator" method="post">
    <label>Jak się nazywasz? Podaj unikatowe imię (login):</label>
    <input type="text" th:field="${request.imperatorName}">
    <br>
    <label>Podaj hasło</label>
    <input type="password" th:field="${request.password1}">
    <br>
    <label>Jeszcze raz hasło</label>
    <input type="password" th:field="${request.password2}">
    <br>
    <button type="submit">Podbij wszechświat!</button>
</form>
</body>
</html>